* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  width: 100%;
  background-image: url(images/background.jpeg);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-left: 5%;
  box-sizing: border-box;
  position: relative;
}
.navbar {
  width: 100%;
  height: 50%;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  cursor: pointer;
  margin: 0px 10px;
}
nav {
  flex: 1;
  padding-left: 60px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}

ul li a {
  text-decoration: none;
  color: white;
}
.content {
  margin-left: 10%;
  margin-top: 2%;
}
.feature-img {
  height: 75;
  position: absolute;
  bottom: 0;
  right: 160px;
  margin-bottom: 80%;
  width: 40%;
  margin-top: 30%;
}
.apply {
  margin-left: 50%;
  margin-bottom: 20%;
}

.cn {
  width: 160px;
  height: 40px;
  background: teal;
  border: none;
  margin-left: 50%;
  margin-bottom: 85%;
}
.cn a {
  text-decoration: none;
  color: black;
}
.cn hover {
  background-color: white;
  color: aliceblue;
}
